<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qsls9.catspringbootdemo.dao.GroupMapper">
    <sql id="Base_Column_List">
        id, group_id,group_name,audlt_flag,admin_wxid,robot_id,chat_flag
    </sql>
    <select id="selectByGroup" parameterType="com.qsls9.catspringbootdemo.model.Group" resultType="com.qsls9.catspringbootdemo.model.Group">
        select *
        from wxgroup
        where group_id = #{group_id}
        and robot_id = #{robot_id}
    </select>

    <insert id="insert" parameterType="com.qsls9.catspringbootdemo.model.Group" >
     insert into wxgroup(id,group_id,group_name,audlt_flag,robot_id,chat_flag)
     values(null,#{group_id},#{group_name},#{audlt_flag},#{robot_id},#{chat_flag})
    </insert>

    <update id="updateByGroup" parameterType="com.qsls9.catspringbootdemo.model.Group">
        update wxgroup set admin_wxid =#{admin_wxid},group_name=#{group_name},audlt_flag=#{audlt_flag},
        chat_flag=#{chat_flag}
        where group_id=#{group_id}
        and robot_id=#{robot_id}
    </update>


</mapper>