<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qsls9.catspringbootdemo.dao.GroupUserMapper">
    <sql id="Base_Column_List">
        id, groupid,wxid,robot_id,wx_name
    </sql>
    <select id="select" parameterType="string" resultType="com.qsls9.catspringbootdemo.model.User">
        select
        <include refid="Base_Column_List"/>
        from User
        where robot_id = #{robot_wxid}
    </select>
    <insert id="insert" parameterType="com.qsls9.catspringbootdemo.model.GroupUser" >
     insert into groupuser(id,groupid,wxid,robot_id,wx_name)
     values(null,#{groupid},#{wxid},#{robot_id},#{wx_name})
    </insert>

    <select id="selectByGroupUser" parameterType="com.qsls9.catspringbootdemo.model.GroupUser" resultType="com.qsls9.catspringbootdemo.model.GroupUser">
        select *
        from groupuser
        where groupid = #{groupid}
        and robot_id = #{robot_id}
        and wxid =#{wxid}
    </select>

    <update id="updateByWxid" parameterType="com.qsls9.catspringbootdemo.model.User">
        update user set wx_name=#{wx_name},audlt_flag=#{audlt_flag}
        where wxid=#{wxid}
    </update>

    <update id="updateStateByRobotid" parameterType="string">
        update user set state = 0
        where robot_id=#{robot_wxid}
    </update>
</mapper>